.container {
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
}

hr {
    color: black;
    background-color: aqua;
}

.ascdes {
    font-size: 15px;
    width: 10%;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: 10px vertical-text white;
    border-bottom: 2px solid orange;
    text-shadow: 1px 1px 15px white;
    color: white;
    transition: 0.9s ease-in-out;
}

.ascdes:hover {
    background-color: rgb(41, 39, 39);
}

.prj1btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-family: cursive;
    box-shadow: 1px 1px 15px white;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.prj1btn:hover {
    background-color: black;
    text-shadow: 1px 1px 15px white;
}

#prj1para {
    color: whitesmoke;
    font-size: 1rem;
}